/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;700&display=swap');

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.error-message:empty {
    display: none;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
}

/* Resetting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F6F6F6;  /* Updated to main background color */
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #F6F6F6;  /* Updated to main background color */
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #F6F6F6,  /* Updated to main background color */
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    background-color: #F6F6F6;  /* Updated to main background color */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #2E603A;  /* Updated to green color */
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #286652;  /* Updated to green hover color */
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #2E603A;  /* Updated to green color */
}

.wrapper a:hover {
    color: #286652;  /* Updated to green hover color */
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
